{% extends "core/base.html" %}
{% load user_groups %}

{% block titulo %} Listado de Productos {% endblock %}

{% block contenido %}
<h1 class="text-center">Listado de Productos</h1>
<a href="{% url 'productos:producto-create' %}" class="btn btn-outline-success">Nuevo Producto</a>
<hr>
<table class="table table-bordered table-striped text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Activo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for p in productos %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ p.id }}</td>
      <td>{{ p.nombre }}</td>
      <td>${{ p.precio_venta|floatformat:2 }}</td>
      <td>{{ p.activo }}</td>
      <td>
        {% if user.is_authenticated %}
          {% if user|has_group:"Administrador" %}
            <a href="{% url 'productos:producto-detail' p.id %}" class="btn btn-outline-info">Detalle</a>
            <a href="{% url 'productos:producto-update' p.id %}" class="btn btn-outline-warning">Editar</a>
            <a href="{% url 'productos:producto-delete' p.id %}" class="btn btn-outline-danger">Eliminar</a>
          {% elif user|has_group:"Inventario" %}
            <a href="{% url 'productos:producto-detail' p.id %}" class="btn btn-outline-info">Detalle</a>
            <a href="{% url 'productos:producto-update' p.id %}" class="btn btn-outline-warning">Editar</a>
          {% else %}
            <p>No estas autorizado</p>
          {% endif%}
        {% else %}
          <p>No estas autorizado</p>
        {% endif %}      
        
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}